.welcome{
    height: 70vh;
    display: flex;
    justify-content: center;
    background-color: #9DB2BF;
    .welcome_text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .avatar{
        display: flex;
    }
}